*{
    margin:0;
    border:0;
    box-sizing: border-box;
    background: #000;
}

.canvas{
    width: 528px;
    height: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #adff2f;
    
}