*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;

}



/* -----Rueda de Carga Giratoria------- */
.Loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#001d10;
    animation: animacion-background-loading 10s linear infinite;
}
@keyframes animacion-background-loading{
    0% 
    {
        filter:hue-rotate(0deg);
    }
    100% 
    {
        filter:hue-rotate(360deg);
    }
}


.contenedor__rueda{
    position: relative;
    width: 250px;
    height: 250px;
}

.contenedor__rueda .blockes{
    position: absolute;
    width: 8px;
    height: 25px;
    background: #050c09;
    left: 50%;
    /*  360deg/20block =  18deg each   */
    transform: rotate(calc(18deg *var(--i)));
    /*  width 250px/2 = 125px  */
    transform-origin: 0 125px;
    animation: animacion-loading 1.9s ease-in-out infinite;
    /*  1 / 20  = 0.05  */
    animation-delay: calc(0.05s*var(--i));
}

@keyframes animacion-loading{
    0%,50%
     {
        background: #050c09;
        box-shadow: none;
    }

    50.1%,100% 
    {
        background: #0f0;
        box-shadow: 0 0 5px #0f0,
                    0 0 15px #0f0,
                    0 0 30px #0f0,
                    0 0 60px #0f0,
                    0 0 90px #0f0,
                    0 0 200px #0f0
    }
}

.contenedor__rueda h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    letter-spacing: 2px;
    animation: animacion-texto-loading 2s ease-in-out infinite;
    animation-delay: -1s;
}

@keyframes animacion-texto-loading {
    0%,50%
    {
        color:#050c09;
        text-shadow: none;
    }
    50.1%,100% 
    {
        color:#0f0;
        text-shadow: 0 0 5px #0f0,
                     0 0 10px #0f0,
                     0 0 15px #0f0;
    }           

}









/*Tarjetas Transparentes de bordes Neon*/
.contenedor__tarjetas__neon{
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#111;
}
    .contenedor__tarjetas__neon .tarjetas{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        flex-wrap: wrap;
        position: relative;
        width: 320px;
        height: 400px;
        color: white;
        background-color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 30px;
        transition:0.5s;
    }
    .contenedor__tarjetas__neon .tarjetas:hover{
        transform: translateY(-35px);
    }
    .contenedor__tarjetas__neon .tarjetas::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg,#ffbc00,#ff0058);
    }
    .contenedor__tarjetas__neon .tarjetas::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg,#ffbc00,#ff0058);
        filter: blur(30px);
    }
            .contenedor__tarjetas__neon .tarjetas:nth-child(2)::before,
            .contenedor__tarjetas__neon .tarjetas:nth-child(2)::after{
                background: linear-gradient(315deg, #03a9f4,#ff0058);
            }
            .contenedor__tarjetas__neon .tarjetas:nth-child(3)::before,
            .contenedor__tarjetas__neon .tarjetas:nth-child(3)::after{
                background: linear-gradient(315deg,#4dff03,#00d0ff);
            }
 
.contenedor__tarjetas__neon .tarjetas span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}            
    .contenedor__tarjetas__neon .tarjetas span::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255,255,255,0.1);
        pointer-events: none;
    }    

.contenedor__tarjetas__neon .texto{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}
    .contenedor__tarjetas__neon .texto h2{
        font-size: 2em;
        color: #fff;
        margin-bottom: 10px;
    }
    .contenedor__tarjetas__neon .texto p{
        font-size: 1.1em;
        color: #fff;
        margin-bottom: 10px;
        line-height:1.4em
    }       
    .contenedor__tarjetas__neon .texto a{
        font-size: 1.1em;
        color: #111;
        background: #fff;
        padding: 10px;
        text-decoration: none;
        font-weight: 700;
    }
        
/*-----------------------------------------------*/



/* Texto alrededor de una imagen */
.Texto-Drop{
    height: 100%;
    background-color: #000;
}

.wrap__text__around{
    position: relative;
    margin: auto;
    width: 80%;
    height: auto;
    padding:50px;
    background:#333;
    border: 1px solid green
}

.wrap__text__around h2{
    color: #fff;
    font-size: 35px;
    text-align: center;
}
.wrap__text__around p{
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
}
.wrap__text__around .vegeta{
    height: 600px;
    float: left;
    shape-outside: url(/img/1.png);
    shape-margin: 10px;
}
.wrap__text__around .goku{
    height: 600px;
    float: right;
    shape-outside: url(/img/2.png);
    shape-margin: 10px;
}
